<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>operaciones_mat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
        <ion-label>Numero 1:</ion-label>
        <ion-input [(ngModel)]="numero1"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Operacion:</ion-label>
        <ion-input [(ngModel)]="operacion"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Numero 2:</ion-label>
        <ion-input [(ngModel)]="numero2"></ion-input>
    </ion-item>
    <ion-button size="small" color="success" (click)="operaciones()">
        Calcular
    </ion-button>
    <ion-list>
        {{this.resultado}}
    </ion-list>
</ion-content>