<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>volver</ion-back-button>
    </ion-buttons>
    <ion-title>ingresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-chip name="pin" color="success">
  <ion-label>Registre su informacion aquí:</ion-label>
  </ion-chip>

  <ion-item>
    <ion-label position="floating">nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">descripcion</ion-label>
    <ion-input [(ngModel)]="descripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">fecha</ion-label>
    <ion-input [(ngModel)]="fecha"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">valor</ion-label>
    <ion-input [(ngModel)]="valor"></ion-input>
  </ion-item>

  <ion-item>
   <ion-button color="secondary" (click)="guardarActivos()">
        Guardar
    </ion-button>
    <ion-button color="danger" (click)="limpiar()">
        vaciar
    </ion-button>
    </ion-item>

  <ion-list>
    <ion-item *ngFor="let activo of activos">
      <ion-label>{{activo.nombre}}</ion-label>
      <ion-label>{{activo.descripcion}}</ion-label>
      <ion-label>{{activo.fecha}}</ion-label>
      <ion-label>{{activo.valor}}</ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>
